*{
  font-family: "Poppins", sans-serif;
}

main {
  background-color: #efefef;
}

header {
  display: flex;
  flex-direction: column;
}

#logo{
  width: 100%;
  height: auto;
  flex-direction: column;

}

.nav_links {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.pricing{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  width: 100%;
}


@keyframes fadeInAnimation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

#logo{
  animation: fadeInAnimation 3s ease-out infinite;
}

@media (prefers-reduced-motion) {
  animation: none;
}


@media screen and (min-width: 700px){

  header {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  #logo{
    width: 400px;
  }
  .nav_links {
    flex-flow: row nowrap;
  }

  .pricing{
    min-height: 475px;
    justify-content: center;
  }

  .card {
    width: 300px;
  }

  .gallery {
    justify-content: center;
  }

  .gallery img {
    width: 300px;
  }
}